nav{
    overflow: auto;
}
nav ul{
list-style: none;

}
nav ul.left{
    float: left;
}
nav ul.right{
    float: right;
    margin-right: 45px;
}
nav ul li{
display: inline;
}
body{
    background-image: url("../images/google.PNG");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:50%;
    margin-top: 15px;
    background-color: white;
}
/* div.google-image{
    
    display: flex;
    justify-content: center;
    margin-top: 100px;
} */
div.google-search{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}


nav.fa fa-th{
    color:rgb(216, 216, 216);
    display: inline;
}

p.lang a{
    display: inline;
    text-decoration: none;
    
    display: block;

}
p.left{
    
    text-decoration: none;
    color: grey;
    display: block;
    
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 16px;
    margin-left: 47px;
}
   
div.footer{
  margin-left:40px;
}


div.footernav ul.left{
    float:left;
    list-style: none;
    margin-left: none;
   
}
div.footernav ul.right{
    float:right;
    list-style: none;
    overflow: hidden;
    margin-right: 40px;

}
div.footernav ul li{
    display: inline;
}
div.footer div.footernav ul li a{
    float: left;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif; 
}

.ibutton{
    border-radius: 100%;
    background-color: rgb(119, 117, 117);
    border: none;
    color: white;
    width: 26px;
    height: 26px;
    margin-top: 10px;
    margin-right: 5px;
}

.ibutton i{
    font-size: 10px;
}
.userIcon{
    border-radius: 100%;
    background-color: rgb(101, 23, 153);
    border: none;
    color: white;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-right: 10px;
}
input{
    width: 45%;
    box-shadow: 1px 3px 5px 1px rgb(206, 205, 205);
    
    padding: 12px 10px;
    border:none;
    border-color: black;
    background: url("../images/mic.png");
    background-repeat:no-repeat scroll right 4px;
    padding-right:40px;
}
button{
    box-shadow: 1px 3px 5px 1px rgb(206, 205, 205);
}

.footer .footernav{
    background-color:gray;
    color:black;
 
    
    font-family: Arial, Helvetica, sans-serif;
 }
 section{
     position: center;
     margin-bottom: 15px;

 }
 nav.foot{
     background-color:lightgrey;
 }