<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../css/google.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../js/google.js"></script>
    <title>Google Search</title>
</head>

<body>
    <header>
        <nav>
            <ul class="left">
                <li>About</li>
                <li>Store</li>
            </ul>
            <ul class="right">
                <li>Mail</li>
                <li>Images</li>

                <li><button class="userIcon">D</button></li>
                <li>1<button class="ibutton"><i class="fa fa-bell"></i></button></li>
                <li><a><i class="fa fa-th"></i></a></li>
            </ul>
    </header>
    <!-- <div class="google-image"></div> -->
    <!-- <div class="google-search"><Input type="text" id="userInput" name="search"></div> -->
    <nav>
        <section>
            <div class="container">
                <center>
                    <br><br>
                    <br><br> <br> <br>
                    <br><br><br><br><br><br><br><br><br><br><br>
                    <div class="google-search"><Input type="text" id="userInput" name="search"></div>
                    <div class="buttons" onclick="check_input()"><br>
                        <button>Google Search</button>
                        <button> I'm Feeling Lucky</button>
                    </div><br>
                    <p class="Lang"> Google offered in:
                        <a href="#">Luganda</a>
                        <a href="#">Kiswahili</a>
                        <a href="#">Luo</a>
                        <a href="#">Ruyankitara</a>
                    </p>
            </div>
        </section>
    </nav>
    </center>

    <div class="footer">
        Uganda
        <hr>
        <div class="footernav">
            <ul class="left">
                <li><a href="">Advertising</a></li>
                <li><a href="">Business</a></li>
            </ul>
            <ul class="right">
                <li><a href="">Settings</a></li>
                <li><a href="">Terms</a></li>
                <li><a href="">Privacy</a></li>
            </ul>
        </div>

</body>


</html>